@font-face {
  font-family: 'Bold';
  src:
    url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Extrabold';
  src:
    url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src:
    url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Regular';
  src:
    url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Semibold';
  src:
    url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
