
.wrapper {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 15px;
  border: 1px solid red;
}

.logo {
  display: inline-block;
  padding-left: 30px;
  border: 1px solid red;
}
.menu-model {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-top: 16px;
  padding-left: 4%;
}
.menu-model__item {
  font: 600 15px/18px Semibold, arial, helvetica, sans-serif;
  color: #000;
  border: 1px solid red;
}

.menu-model__item:first-child {
  margin-right: 63px;
}
.menu-model__item:nth-child(2n) {
  margin-right: 25px;
}

.menu-model__item:nth-child(3n) {
  margin-right: 44px;
}

.menu-model__item:nth-child(4n) {
  margin-right: 46px;
}
.menu-entrance {
    display: inline-block;
    position: relative;
    padding-top: 16px;
}

.menu-entrance__item {
  font: 600 15px/18px Semibold, arial, helvetica, sans-serif;
  color: #000;
  border: 1px solid red;
  margin-right: 30px;
}


.lines {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid red;
  width: 24px;
  margin-right: 60px;
  bottom: 20%;
}

.lines::before,
.lines::after {
  display: flex;
  position: relative;
  content: "";
  border-bottom: 2px solid red;
  margin-bottom: 4px;
}

.main__name-model {
  font: 600 90px/110px Semibold, arial, helvetica, sans-serif;
  color: #000;
  border: 1px solid red;
}

.main__welcome {
  font: 500 15px/18px "Medium", arial, helvetica, sans-serif;
  color: #000;
  border: 1px solid red;
}
