
.wrapper {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 54px;
  border: 1px solid red;
}

.logo {
  display: inline-block;
  padding-left: 30px;
  border: 1px solid red;
}
.menu-model {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.menu-model__item {
  font: 600 15px/18px Semibold, arial, helvetica, sans-serif;
  position: relative;
  margin-right: 24px;
  color: #000;
  border: 1px solid red;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .5s;
}

.menu-model__item:hover {
  opacity: .5;
  color: #e51937;
}

.menu-model__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #e51937;
}

.menu-model__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background: #e51937;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu-model__item:hover::after,
.menu-model__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu-model__item:first-child {
  color: #e51937;
}
.menu-model__item:nth-child(2n) {
  left: 36px;
}

.menu-model__item:nth-child(3n) {
  left: 36px;
}

.menu-model__item:nth-child(4n) {
  left: 52px;
}

.menu-model__item:last-child {
  left: 72px;
}

.menu-entrance {
    display: inline-block;
    position: relative;
    padding-top: 22px;
    left: 9px;
}

.menu-entrance__item {
  font: 600 15px/18px Semibold, arial, helvetica, sans-serif;
  color: #000;
  border: 1px solid red;
  margin-right: 30px;
  transition: opacity .5s;
  cursor: pointer;
}

.menu-entrance__item:hover {
  opacity: .5;
}

.lines {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid red;
  width: 24px;
  margin-right: 60px;
  bottom: 20%;
}

.lines::before,
.lines::after {
  display: flex;
  position: relative;
  content: "";
  border-bottom: 2px solid red;
  margin-bottom: 4px;
}

.main1__name-model {
  font: 600 90px/110px Semibold, arial, helvetica, sans-serif;
  color: #000;
  text-align: center;
  border: 1px solid red;
  margin: 0;
}

.main1__welcome {
  font: 500 15px/19px Medium, arial, helvetica, sans-serif;
  color: #000;
  line-height: 0;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main1__car {
  display: block;
  padding-left: 13%;
  padding-top: 2%;
  margin-bottom: 25px;
}

.signs {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 57%;
  height: 4%;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.sign-speed, .sign-way, .footer__test-drive, .footer__button-order {
  border: 1px solid red;
}

.sign-speed {
  flex-basis: 22%;
}

.sign-speed__wrapper {
  display: inline-flex;
  border: 1px solid red;

}

.sign-speed__img {
  float: left;
  margin: 0 10px 0 0;
  padding-top: 10px;
}

.sign-speed__time {
  padding-top: 4px;
    line-height: 0;
}

.sign-speed__unit {
  padding: 17px 0 0 5px;
  margin: 0;
}

.sign-speed__max{
  position: relative;
  margin-bottom: 10px;
}
.sign-speed__time, .sign-way__long {
  font: 600 35px/43px Semibold, arial, helvetica, sans-serif;
  margin: 0;

}
.sign-speed__unit, .sign-way__unit {
  font: 600 20px/24px Semibold, arial, helvetica, sans-serif;

}

.sign-speed__max, .sign-way__text {
  font: normal 12px/15px Regular, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.test-drive {
  font: bold 13px/16px Bold, arial, helvetica, sans-serif;
}

img {
  border: 1px solid red;
}

.footer__button-order {
  font: bold 13px/16px Bold, arial, helvetica, sans-serif;
  color: #e51937;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 43px;
  border: 2px solid #e51937;
  text-align: center;
}

.main2__infocar, .main3 {
  background: #E51937;
}

.main2__name-model {
  font: 600 70px/85px Semibold, arial, helvetica, sans-serif;
  color: #e51937;
}

.main2__title,
.main3__title,
.main3__protection {
  font: 600 30px/37px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}

.main2__description,
.main3__description {
  font: 500 15px/18px Medium, arial, helvetica, sans-serif;
  color: #fff;
}

.sign-display__size,
.sign-bag__volume {
  font: 600 35px/43px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}

.sign-display__inches,
.sign-bag__software {
  font: 600 20px/24px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}

.sign-display__text,
.sign-wi-fi__text,
.sign-bag__text {
  font: normal 12px/15px Regular, arial, helvetica, sans-serif;
  color: #fff;
}

.sign-wi-fi__software {
  font: 600 20px/18px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}

.main2-buttons__more-info,
.main3-buttons__more-info,
.main2-buttons__order,
.main3-buttons__order {
  font: bold 13px/16px Bold, arial, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.main2-buttons__order,
.main3-buttons__order {
  padding: 10px 43px;
  border: 2px solid #fff;
}

.main3__protection-list {
  font: bold 17px/21px Bold, arial, helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.sign-star__text1 {
  font: 600 50px/61px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}
.sign-star__text2 {
  font: 600 25px/30px Semibold, arial, helvetica, sans-serif;
  color: #fff;
}
